[submodule "static/vendor/js/reconnecting-websocket"]
	path = static/vendor/js/reconnecting-websocket
	url = https://github.com/joewalnes/reconnecting-websocket
[submodule "static/vendor/css/github-markdown-css"]
	path = static/vendor/css/github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css
