<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{{ custom_css }}}" rel="stylesheet">
    <link href="/vendor/highlight.js/styles/{{ highlight_theme }}.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/vendor/reconnecting-websocket/reconnecting-websocket.min.js"></script>
    <script src="/vendor/highlight.js/highlight.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/contrib/auto-render.min.js"></script>
    <script src="/js/markdown_client.js"></script>
    <title>Markdown Composer</title>
  </head>
  <body>
    <article class="markdown-body" id="markdown-preview" data-websocket-port="{{ websocket_port }}">
      {{{ initial_markdown }}}
    </article>
  </body>
</html>
