<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {{#each remote_custom_css }}
    <link href="{{{ this }}}" rel="stylesheet">
    {{/each}}
    {{#each local_custom_css }}
    <style>{{{ this }}}</style>
    {{/each}}
    <link href="/__/vendor/highlight.js/styles/{{ highlight_theme }}.css" rel="stylesheet">
    <link href="/__/css/styles.css" rel="stylesheet">
    {{#if remote_custom_css}}
    {{else}}
      {{#if local_custom_css}}
      {{else}}
      {{!-- Default to GitHub CSS if no custom CSS is set --}}
      <link href="/__/vendor/github-markdown-css/github-markdown.css" rel="stylesheet">
      {{/if}}
    {{/if}}

    <title>Markdown Composer</title>
  </head>
  <body>
    <article class="markdown-body" id="markdown-preview"></article>
    <script src="/__/vendor/reconnecting-websocket/reconnecting-websocket.min.js"></script>
    <script src="/__/vendor/highlight.js/highlight.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/contrib/auto-render.min.js"></script>
    <script src="/__/js/markdown_client.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">
  </body>
</html>
